{#
/**
 * @file
 * Default theme implementation for displaying a single search result coming from Search API page.
 *
 * @ingroup themeable
 */
#}
{{ title_prefix }}
<h3{{ title_attributes }} class="search-result">
  <a href="{{ url }}">{{ title }}</a>
</h3>
{{ title_suffix }}
